<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting >
    <application name ="Client">
      <client displayName ="Hello client for well-known objects">
        <wellknown type ="ProCSharp.Remoting.Hello,RemoteHello" url ="tcp://localhost:6791/Hello/Hi">
        </wellknown>
      </client>
      <channels>
        <channel ref ="tcp" displayName ="TCP Channel(HelloClient)">
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>